## Files for PIC (Manually added)
# **/.generated_files/

## Files for PIC (Auto-Added)
# /A1_Delays/dist/
# /A1_Delays/build/

## Files from https://forum.microchip.com/s/topic/a5C3l000000MPTyEAO/t328014
**/.generated_files
**/build
**/debug
**/dist
**/motorbench
**/nbproject/Makefile-*
**/nbproject/Package-*
**/nbproject/private/

## Notes:
# These files will be kept:
# * nbproject/configurations.xml
# * nbproject/project.xml

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
